
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

section{
width: 100%;
margin: 0 auto;
background-color: wheat;
text-decoration: none;
/* min-height: 500px; */
}
section img{
    min-height: fit-content;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 20px;
    height: 200px;
}
.div{
    position: relative;
    bottom: 20px;
}
p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
.marca{
    font-size: 21px;
    text-decoration: none;
}

